In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
df

In [ ]:
df.head()

In [ ]:
# Add a new column called 'Occupation' to the DataFrame

df['Occupation'] = ['Engineer', 'Artist', 'Doctor', 'Lawyer']
df