In [22]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [25, 30, 35, 40, 28],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'occupation': ['Engineer', 'Doctor', 'Artist', 'Lawyer', 'Nurse'],
    'salary': [70000, 120000, 50000, 100000, 60000]
}

df = pd.DataFrame(data)