# Python and variables
45 min.

## Comments in python


You can use "#" to add comments. Adding comments to your code helps you stay organized and remember what each section of code is supposed to do.

Run the code below to see the effect of adding and removing a comment.

In [2]:
# print("hello")
print("world")

world

## Variables

Variables are named buckets that store data.

E.g. `i = 1` will store the integer `1` into the variable called `i`.

Below, store the integer 1 in the variable i and print it.

In [3]:
# TODO: Replace me with your code

Python best practices says that variable names should:
1. be lowercase
2. each word should be separated by an underscore instead of space
3. should not start with numbers  

Run the below cells. They will throw error messages. Read the error messages, try to understand them, and then try to correct the code.  


Getting good at understanding error messages is a critical part of becoming an effective programmer.

In [4]:
my_number = 5

In [5]:
number = 5

In Jupyter, last line of Python code in each code cell is automatically printed if it is not stored in a variable. Sometimes this is helpful to immedietly see the results of your actions. 

Run the below cells. Predict the output before running.

In [6]:
k = 1

In [7]:
1

1

In [8]:
m = 2
m

2

In [9]:
x = 3
y = 4
x
y

4

## Python Data Types

Python has many data types. Here are the most important ones that we'll cover

* Integer
* Float 
* String
* Boolean
* None 
* List
* Dict

There are more, but they aren't super relevant to automating reports, so we'll ignore them for now.

Add a comment to each of the following 6 cells that lists each data type.  If you're not sure what it is, try wrapping the data type in the type("Hello") function and checking the results.

In [10]:
40

40

In [11]:
"Hello World"

'Hello World'

In [12]:
True

True

In [13]:
["surf", "beach", "water"]

['surf', 'beach', 'water']

In [14]:
{"sand": "tiny grains", "shell": "sea creature home", "wave": "ocean's rhythm"}

{'sand': 'tiny grains', 'shell': 'sea creature home', 'wave': "ocean's rhythm"}

In [15]:
None

In [16]:
3.14

3.14

Below, uncomment the code and assign data to each variable datatype. Try doing it without checking the examples above! Typing them by hand will help getting familiar with them.

In [17]:
# var_int = 
# var_float =
# var_string =
# var_bool =
# var_none =
# var_list =
# var_dict =

Now that we know the basic Python data types, let's learn how to use them in our code.

## Int, Float, and Operators

üí° To perform basic math, use the operators:  **+**, **-**, **\***, **/**, **%**, **\*\***  
üßë‚Äçüíª Double check your mental math skills by using a few of these operators in code cell below.

In [18]:
3+4

7

üí° To compare two values, use the **operators**: **==**  , **!=** , **<** , **>** , **<=** , **>=**. 

It's important to note that the syntax to compare values differs between Excel and Python.   
In Python, to check if two values are equal use **==** and to check if two values are not equal, use **!=**. 
 
üßë‚Äçüíª Test these operators in the below cell by replacing the operation in between the two numbers.

In [19]:
3 == 4

False

It's common to combine conditional operators with if conditions to control the flow of your code.

üí° Python uses **indentation** to create blocks of code. See how the code to execute if the condition is true is indented underneath the conditional check.

üßë‚Äçüíª  Run the below cell.

In [20]:
if 10 > 5:
    print("Yes, 10 is greater than 5")

Yes, 10 is greater than 5

In [21]:
good_waves = False
if good_waves:
    print("Let's go surfing!üåä")
else:
    print("No good waves? Guess I'll just surf the internet then!")

No good waves? Guess I'll just surf the internet then!

üí° Use the logical operators  **and**, **or**, and **not** to combine conditions.

üßë‚Äçüíª Run the below cells.

In [22]:
good_waves = True
surfboard = True

if good_waves and surfboard:
    print("You're ready to go surfing!üèÑ‚Äç‚ôÄÔ∏è")

You're ready to go surfing!üèÑ‚Äç‚ôÄÔ∏è

In [23]:
sunscreen = False
clouds = True

if sunscreen or clouds:
    print("You are protected from sunburn while surfing!üåû")

You are protected from sunburn while surfing!üåû

In [24]:
sharks_nearby = False

if not sharks_nearby:
    print("It's safe to surf here!")

It's safe to surf here!

üí° Sometimes you'll want to check a cascade of conditions.  
You can do so using `elif` conditions, which only get checked if the prior `if` and `elif` conditions did not evaluate to True.

üßë‚Äçüíª Run the below cell. Try changing the country name.

In [25]:
country = 'Canada'

if country == 'USA':
    print('Hello from USA!')
elif country == 'Canada':
    print('Hello from Canada!')
else:
    print('Where am I?')

Hello from Canada!

Now it's your turn to practice!   

üßë‚Äçüíª  Write code that compares two variables x and y and prints either "x is greater than y" or "y is greater than x".

Hint: Make sure you also create the `x` and `y` variables so the code runs!

In [26]:
# TODO: Replace me with your code

üßë‚Äçüíª  Write a code cell that defines an integer my_val and then checks if the integer is greater 50 but smaller than 100.

In [27]:
# TODO: Replace me with your code

üí° Sometimes you'll need to nest conditionals to express more complex logic.


üßë‚Äçüíª Write a code cell that prints "large!" if my_val is greater than 100, and also prints "even" if the variable is even.

In [28]:
# TODO: Replace me with your code

üßë‚Äçüíª You have four numbers num1, num2, num3, and num4.   
Write conditional statements to determine and print the largest number.

In [29]:
num1 = 25
num2 = 78
num3 = 17
num4 = 96

# TODO: Replace me with a statement that prints the largest number

üåüüßë‚Äçüíª Extra Task: Write a date validator for the year 2023 that checks if the two numbers are a valid date.  
Test your code using some other days and months.

Remember:
* 30 days has September, April, June, and November,
* All the rest have 31, 
* Except February that has twenty-eight days

In [30]:
day = 29
month = 2

# TODO: Replace me with your code

Congrats, you just learned some of the most foundational building blocks of every Python program. 

Programming is about combining these building blocks together to express more complicated logic. 

Don't feel the need to memorize every piece of syntax that we go over, as you start to write more Python code, you'll develop muscle memory.

## Strings

üí°  Operators can also be applied to stings!  

üßë‚Äçüíª  Run the below cell. Predict the output before running.

In [31]:
place = "Malibu"
"Today's surf spot is " + place

"Today's surf spot is Malibu"

Python has some built in functions for working with strings. Here are a few of the most useful ones!

üßë‚Äçüíª  Run the below cell. Predict the output before running.

In [32]:
len(place)

6

In [33]:
place.lower()

'malibu'

In [34]:
place.upper()

'MALIBU'

In [35]:
place[0]

'M'

In [36]:
place[0:3]

'Mal'

In [37]:
place[-1]

'u'

üßë‚Äçüíª  Now, write code that checks if the first letter and the last letter of a word are the same. If they are, print "They are the same!". Otherwise print "They are different!".

In [38]:
# TODO: Replace me with your code

üí° Notice that you can access individual characters in a string using indexing.  

Accessing elements by index is also useful while working with lists. Lists are up next!

## Lists

üßë‚Äçüíª  Run the below cells. Predict the output before running.

In [39]:
activities = ["Surfing", "Swimming", "Diving"]
activities

['Surfing', 'Swimming', 'Diving']

üí° Python lists are indexed starting at 0.

In [40]:
activities[0]

'Surfing'

In [41]:
activities[-1]

'Diving'

In [42]:
len(activities)

3

In [43]:
numbers = [0, 1, 2]
if numbers[1] == 0:
    print('The first entry is 0')
else:
    print('The first entry is not 0')

The first entry is not 0

üßë‚Äçüíª  Run the following code to print out the last element in the list.

In [44]:
numbers[2]

2

üí° Remember that lists are 0 indexed! Let's try this instead

In [45]:
numbers[len(numbers) - 1]

2

üí° Although lists are 0 indexed, the len() function still starts counting at 1

In [46]:
len(numbers)

3

üßë‚Äçüíª  Write code that prints the last element from the list `numbers`

In [47]:
# TODO: Replace me with your code

Off-by-one errors when indexing into lists is a common bug! That won't be the last time you see those error messages :)

üí° A list can contain any type of data:

In [48]:
mylist = ["Hiking", 29, True]

In [49]:
mylist[0] = "Surfing"
mylist

['Surfing', 29, True]

üßë‚Äçüíª  Write code that checks if the minimum value and the maximum value is greater than 6.  


Hint: You can make use of the functions **min(l)** and **max(l)** for that.

In [50]:
l = [5, 10, 2, 8, 3]

# TODO: Replace me with your code

## Dicts
üí° A Python **dictionary** is a collection of key-value pairs. Each key in the dictionary must be unique, but values can repeat.  

üßë‚Äçüíª Run the following code cells and checkout the results.

In [51]:
d = {"sand": "tiny grains", "shell": "sea creature home", "wave": "ocean's rhythm"}
d

{'sand': 'tiny grains', 'shell': 'sea creature home', 'wave': "ocean's rhythm"}

In [52]:
d["sand"] = "small particles"
d

{'sand': 'small particles',
 'shell': 'sea creature home',
 'wave': "ocean's rhythm"}

In [53]:
d["sun"] = "source of light"
d

{'sand': 'small particles',
 'shell': 'sea creature home',
 'wave': "ocean's rhythm",
 'sun': 'source of light'}

In [54]:
del d["shell"]
d

{'sand': 'small particles', 'wave': "ocean's rhythm", 'sun': 'source of light'}

In [55]:
list(d.keys())

['sand', 'wave', 'sun']

In [56]:
list(d.values())

['small particles', "ocean's rhythm", 'source of light']

In [57]:
list(d.items())

[('sand', 'small particles'),
 ('wave', "ocean's rhythm"),
 ('sun', 'source of light')]

üßë‚Äçüíª  Print the value of the key `wave` from the dict `d`. Make sure to not forget the quotation marks.

In [58]:
# TODO: Replace me with your code

üßë‚Äçüíª  Create a new dict called food_scores that has the name of foods as the keys and a score from 1-10 as the value.

In [59]:
# TODO: Replace me with your code

üßë‚Äçüíª  Sum the values of the food_scores dictionary

In [60]:
# TODO: Replace me with your code

üí° Dictionaries can have any data type as their value, including other dictionaries. These are called nested dictionaries.

When creating nested dictionaries, it's often helpful to break each dictionary entry into a single line

In [61]:
{
    1: {
        'First Name': 'Aaron',
        'Last Name': 'Diamond-Reivich'
        },
    2: {
        'First Name': 'Nate',
        'Last Name': 'Rush'
    }
}

{1: {'First Name': 'Aaron', 'Last Name': 'Diamond-Reivich'},
 2: {'First Name': 'Nate', 'Last Name': 'Rush'}}

üí° Dictionaries can also have lists as their values.

In [62]:
{
    'Programming Languages': ['Python', 'SQL', 'Javascript'],
    'Programming Environments': ['Jupyter', 'VSCode']
}

{'Programming Languages': ['Python', 'SQL', 'Javascript'],
 'Programming Environments': ['Jupyter', 'VSCode']}

## Casting

üí° Converting one data types into another is called **casting**.  
üßë‚Äçüíª Run the following code

In [63]:

print(int(4))     # out: 4
print(int(3.6))   # out: 3
print(int("5"))   # out: 5

print(float(6))       # out: 6.0
print(float(4.6))     # out: 4.6
print(float("7"))     # out: 7.0
print(float("5.3"))   # out: 5.3

print(str("hello42"))    # out: 'hello42'
print(str(3))       # out: '3'
print(str(4.5))     # out: '4.5'

4
3
5
6.0
4.6
7.0
5.3
hello42
3
4.5

## Practice

üßë‚Äçüíª The below code will throw an error message. Read the error message and try to fix the code.

In [64]:
d = {"sand": "tiny grains", "shell": "sea creature home", "wave": "ocean's rhythm"}
d['sand']

'tiny grains'

üßë‚Äçüíª Check if `sun` is a key in the dictionary.

In [65]:
# TODO: Replace me with your code

üßë‚Äçüíª Change the value of "b" to 4 and add a new key "d" with the value 5.

In [66]:
d = {"a": 1, "b": 2, "c": 3}

# TODO: Replace me with your code

üßë‚Äçüíª Convert the list to a string with the elements joined by commas. 

Hint: Use the str.join() method -- try looking it up on Stack Overflow.

In [67]:
activities = ["Surfing", "Swimming", "Diving"]

# TODO: Replace me with your code

üßë‚Äçüíª Create a list of 5 integers. Calculate the sum of the elements in the list using Python's built-in sum() function.

In [68]:
# TODO: Replace me with your code

üßë‚Äçüíª Given two strings, s1 and s2, concatenate them and then find the length of the resulting string.

In [69]:
s1 = 'First String'
s2 = 'Second String'
# TODO: Replace me with your code

Well done, let's move on to the next notebook!